#  A Whale off the Port(folio)
 ---

This is an assignment to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [2]:
# Initial imports
import pandas as pd
import numpy as np
from pathlib import Path

%matplotlib inline

# Data Cleaning

The CSV files are read into DataFrames and the necessary data cleaning steps are carried out. After cleaning, all DataFrames are combined into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [15]:
# Reading whale returns
whale_returns_path = Path('Resources/whale_returns.csv')
whale_returns_df = pd.read_csv(whale_returns_path, index_col = 'Date')

# Concert the Date column into datetime format
whale_returns_df.index = pd.to_datetime(whale_returns_df.index, format = 'mixed')

# Drop the nulls in the dataframe
whale_returns_df.dropna(inplace = True)

# Display the head of the dataframe
whale_returns_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [16]:
# Reading algorithmic returns
algo_returns_path = Path('Resources/algo_returns.csv')
algo_returns_df = pd.read_csv(whale_returns_path, index_col = 'Date')

# Concert the Date column into datetime format
algo_returns_df.index = pd.to_datetime(algo_returns_df.index, format = 'mixed')

# Drop the nulls in the dataframe
algo_returns_df.dropna(inplace = True)

# Display the head of the dataframe
algo_returns_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652