#  A Whale off the Port(folio)
 ---

This is an assignment to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P TSX 60 Index.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
from pathlib import Path

%matplotlib inline

# Data Cleaning

The CSV files are read into DataFrames and the necessary data cleaning steps are carried out. After cleaning, all DataFrames are combined into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P TSX 60 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data.

In [2]:
# Reading whale returns
whale_returns_path = Path('Resources/whale_returns.csv')
whale_returns_df = pd.read_csv(whale_returns_path, index_col = 'Date')

# Convert the Date column into datetime format
whale_returns_df.index = pd.to_datetime(whale_returns_df.index, format = 'mixed')

# Drop the nulls in the dataframe
whale_returns_df.dropna(inplace = True)

# Display the head of the dataframe
whale_returns_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data.

In [3]:
# Reading algorithmic returns
algo_returns_path = Path('Resources/algo_returns.csv')
algo_returns_df = pd.read_csv(whale_returns_path, index_col = 'Date')

# Convert the Date column into datetime format
algo_returns_df.index = pd.to_datetime(algo_returns_df.index, format = 'mixed')

# Drop the nulls in the dataframe
algo_returns_df.dropna(inplace = True)

# Display the head of the dataframe
algo_returns_df.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098
2015-03-09,0.000582,0.004225,0.005843,-0.001652

## S&P TSX 60 Returns

Read the S&P TSX 60 historic closing prices and create a new daily returns DataFrame from the data.

In [4]:
# Reading S&P TSX 60 Closing Prices
sp_tsx_path = Path('Resources/sp_tsx_history.csv')
sp_tsx_df = pd.read_csv(sp_tsx_path, index_col = 'Date')

# Convert the Date column into datetime format
sp_tsx_df.index = pd.to_datetime(sp_tsx_df.index, format = 'mixed')


# # Calculate the daily returns
# sp_tsx_df = sp_tsx_df.pct_change()

In [5]:
# Check datatypes
sp_tsx_df.dtypes

Close    object
dtype: object

In [6]:
# Fix data types for calculations
sp_tsx_df['Close'] = sp_tsx_df['Close'].str.strip('$')
sp_tsx_df['Close'] = sp_tsx_df['Close'].str.replace(',','')
sp_tsx_df['Close'] = sp_tsx_df['Close'].astype(float)

In [13]:
# Calculate the daily returns
sp_tsx_returns_df = sp_tsx_df.pct_change()

# Rename the column 'Close' to specific to this portfolio
sp_tsx_returns_df.rename(columns = {'Close' : 'SP_TSX'}, inplace = True)

# Drop nulls and display the head of the dataframe
sp_tsx_returns_df.dropna(inplace = True)
sp_tsx_returns_df.head()

              SP_TSX
Date
2012-10-02  0.001701
2012-10-03 -0.002563
2012-10-04  0.007137
2012-10-05 -0.002305
2012-10-09 -0.011709

## Combine Whale, Algorithmic, and S&P TSX 60 Returns

In [14]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
df_returns = pd.concat([whale_returns_df, algo_returns_df, sp_tsx_returns_df], axis = 1, join = 'inner')
df_returns

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,SP_TSX
Date,,,,,,,,,
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001266,-0.004981,-0.000496,-0.006569,-0.008530
2015-03-04,0.002230,0.003241,-0.002534,0.004213,0.002230,0.003241,-0.002534,0.004213,-0.003371
2015-03-05,0.004016,0.004076,0.002355,0.006726,0.004016,0.004076,0.002355,0.006726,0.001344
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.007905,-0.003574,-0.008481,-0.013098,-0.009972
2015-03-09,0.000582,0.004225,0.005843,-0.001652,0.000582,0.004225,0.005843,-0.001652,-0.006555
...,...,...,...,...,...,...,...,...,...
2019-04-25,-0.000285,-0.001291,-0.005153,0.004848,-0.000285,-0.001291,-0.005153,0.004848,-0.000628
2019-04-26,0.008149,0.009162,0.012355,0.010434,0.008149,0.009162,0.012355,0.010434,0.002254
2019-04-29,0.001254,0.002719,0.006251,0.005223,0.001254,0.002719,0.006251,0.005223,-0.000788
2019-04-30,-0.001295,-0.002211,-0.000259,-0.003702,-0.001295,-0.002211,-0.000259,-0.003702,-0.001183
2019-05-01,-0.005847,-0.001341,-0.007936,-0.007833,-0.005847,-0.001341,-0.007936,-0.007833,-0.004703